---
layout: default
---

<div class="home">

    
<div class="featured">    
    
  <h1 class="page-heading">Featured Post</h1>

  <ul class="post-list">
    {% for post in site.posts limit:1 %}
        <li class="cards-featured">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
			  <img class="teaser" src="{{ site.baseurl }}/img/{{ post.photo }}.png">
			  <span class="infopost">
			  <span class="title">{{ post.title }}</span>

			  <span class="excerpt">{{ post.excerpt | strip_html }}</span>
	  </span>
	  </a>
        </li>
    {% endfor %}
  </ul>
</div>

<div class="categories">
	
    <h1 class="page-heading">Recent Posts</h1>

    <ul>
      {% for post in site.posts offset:1 limit: 3 %}
        <li class="cards-home">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
			  <img class="teaser" src="{{ site.baseurl }}/img/{{ post.photo }}-teaser.png">
			  <span class="infopost">
			  <span class="title-small">{{ post.title }}</span>

			  <span class="excerpt">{{ post.excerpt | strip_html | truncatewords:10 }}</span>
	  </span>
	  </a>
        </li>
      {% endfor %}
    </ul>
</div>
    

</div>
